:root {
  --purple: #70334c;
  --yellow: #dbbc47;
  --beige: #f7f4e7;
  --off-white: #fefcf7;
  --gray: #c8d1d5;
}
* {
  box-sizing: border-box;
}
/* html,
body {
  height: 100%;
  margin: 0;
  max-height: 100%;
}

.page {
  min-height: 100vh;
  overflow: hidden;
} */
html {
  height: 100%;
  margin: 0;
}
body {
  color: #70334c;
  font: normal;
  display: flex;
  flex-direction: column;
  font-family: Inter;
  background-color: #fefcf7;
  height: 100vh;
  width: 100%;
  margin: 0;
  gap: 1.9rem;
}
h1,
h2 {
  font-family: Playfair Display;
  font-weight: 600;
}

/* Header and logo */
header {
  text-align: center;
  padding: 0 5%;
  background-color: #70334c;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
}
header h1 {
  font-size: 1.5rem;
  font-weight: 600;
}
header div {
  font-size: 0.7rem;
  font-style: italic;
  letter-spacing: 0.5rem;
  color: #c8d1d5;
}
.logo {
  margin: 0;
}
.yellow {
  color: #dbbc47;
  font-family: Amiri;
  margin-left: 0.8rem;
  margin-right: 0.5rem;
  margin-bottom: 0;
}
.white {
  color: white;
}
/* Main */
main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 0;
  align-items: flex-start;
  height: fit-content;
  /* margin-top: 0.5rem;
  margin-bottom: 0.8rem; */
  flex: 1;
  margin: 0 1rem 0.8rem 1rem;
}
.main_gradient {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 30%;
  max-width: 600px;
  /* margin: 0 auto; */
  margin-left: 3rem;
  gap: 7px;
  margin-bottom: 0.3rem;
}
.main_gradient::before,
.main_gradient::after {
  content: "";
  display: block;
  height: 0.1rem;
  width: 100%;
}

.main_gradient::before {
  background: linear-gradient(
    to left,
    #dbbc47 0%,
    #fefcf7 90%,
    transparent 100%
  );
}

.main_gradient::after {
  background: linear-gradient(
    to right,
    #dbbc47 0%,
    #fefcf7 90%,
    transparent 100%
  );
}

.plus {
  font-size: 2rem;
  line-height: 1;
  font-weight: lighter;
  color: #dbbc47;
  font-family: Amiri;
}

p {
  font-size: 0.9rem;
  font-family: Inter;
}
.try {
  display: flex;
}
.intro {
  width: 50%;
  min-width: 25rem;
  padding: 0rem;
}
.intro h1 {
  margin: 0 0 0 0;
  font-size: 2.9rem;
  max-width: 29rem;
}

.intro .gradient-line {
  background: linear-gradient(to right, #dbbc47 0%, #c8d1d5 86%, #c8d1d5);
  width: 23%;
  height: 0.25rem;
  margin: 0.25rem 0 1rem 0;
  max-width: 5rem;
}
.intro_top h1 {
  font-weight: 1600;
  line-height: 1.05;
  margin-bottom: 0.5rem;
}
.intro_top p {
  font-size: 0.9rem;
  color: rgb(112 51 76 / 60%);
  margin: 0;
  max-width: 30rem;
  line-height: 1.5;
}
.intro_expect {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.intro_expect div {
  background-color: #faf5e5;
  padding: 0.5rem 3rem 0.5rem 1rem;
  border-radius: 0 1rem 1rem 0;
  border-left: 3px solid #dbbc47;
  height: max-content;
  margin: 0.2rem 0;
  max-width: 30rem;
  height: fit-content;
}
.intro_expect p {
  font-size: 0.91rem;
  color: rgb(112 51 76 / 60%);
  margin: 0;
}
.intro_expect h2 {
  margin: 0 0 0.1rem 0;
}
.intro_expect h3 {
  margin: 0;
  font-family: Playfair Display;
  font-weight: normal;
  margin-bottom: 0.15rem;
}

/* Sign up */
.signup {
  width: 40%;
  background-color: #faf5e5;
  border: 2px solid #e7cd6a;
  padding: 1rem 2rem;
  border-radius: 20px;
  min-width: 15rem;
  font-family: Amiri;
  /* max-height: 80%; */
  min-height: fit-content;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.9rem;
  box-shadow: 5px 5px 9px rgb(146, 146, 146);
}
.signup .gradient-line {
  background: linear-gradient(to right, #dbbc47 0%, #c8d1d5 86%, #c8d1d5);
  width: 23%;
  height: 0.25rem;
  margin: 0.3rem 0 0.7rem 0;
}
.signup h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}
form label {
  font-family: Inter;
  font-size: 1.1rem;
  display: block;
  margin: 0.8rem 0;
}
form p:first-of-type {
  margin-top: 0.3rem;
}
input {
  border: #e7cd6a solid 2px;
  width: 100%;
  max-width: 100%;
  height: 2rem;
  padding: 1.6rem 1rem;
  font-size: 0.95rem;
  font-family: Amiri;
  border-radius: 1.2rem;
}
input:focus {
  outline: none;
  border: 2px solid #e4c54a;
}
input::placeholder {
  color: rgb(112 51 76 / 60%);
  opacity: 1; /* Firefox requires this to show the full color */
}
.signup button {
  color: white;
  background-color: #70334c;
  padding: 1rem 2rem;
  border: none;
  border-radius: 1.25rem;
  margin: 1rem 0;
  width: 100%;
  font-weight: normal;
  font-size: 1rem;
  max-width: 100%;
  font-family: Playfair Display;
  /* margin-bottom: 0.2; */
  margin: 1.5rem 0 0.5rem 0;
}
.waitForm {
  display: flex;
  flex-direction: column;
}
.no_spam {
  font-size: 0.84rem;
  color: rgb(112 51 76 / 60%);
  text-align: center;
  margin: 1rem 0 0.5rem 0;
}
/* footer */
footer {
  background-color: #faf5e5;
  padding: 0.2rem 3rem 0.15rem 3rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  align-items: center;
  height: 2.8rem;
}
.instagram {
  display: inline-flex;
  align-items: center;
  background-color: rgb(231, 205, 106, 50%);
  width: fit-content;
  padding: 0 1rem;
  gap: 0.3rem;
  border-radius: 999px;
  margin-left: 0.5rem;
  gap: 6px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  height: 1.7rem;
}
footer .copyright {
  color: rgb(112 51 76 / 50%);
}
footer svg {
  width: 1rem;
  color: rgb(62, 16, 8, 60%);
}
@media (max-width: 705px) {
  body {
    gap: 1rem;
  }
  header {
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
  }
  header div {
    content: none;
    /* background-color: black; */
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  /* header div::after {
    font-size: 1rem;
    content: "Tadakkur. Tafakkur. Tafheem.";
    width: 5rem;
    text-align: center;
  } */
  main {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
    padding: 0 1rem;
    gap: 2rem;
    margin-top: 0;
    /* align-items: center; */
  }
  .intro {
    width: 100%;
    min-width: unset;
    /* text-align: center;  */
  }
  .intro_top {
    margin: 1rem 0rem 0.2rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .intro_top .gradient-line {
    margin: 0.25rem 0 1rem 0;
  }
  .main_gradient {
    margin: unset;
    width: 70%;
    margin: 0.5rem auto 0 auto;
  }

  .intro_top h2 {
    font-size: 1.6rem;
  }
  .intro_expect h3 {
    font-size: 1.1rem;
  }
  .intro_expect p {
    font-size: 1rem;
  }

  /* .intro_top h1{
    text-align: center;
  } */
  .signup {
    /* max-width: 90%;
    min-width: fit-content; */

    min-width: 100%;
    margin: 0 auto 0 auto;
  }
  .signup button {
    margin: 1.2rem 0;
  }
  .no_spam {
    font-size: 1rem;
  }
  footer {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  .instagram {
    height: unset;
    font-size: 0.9rem;
  }
}
